@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-normal {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.orangeText { color: #FEA301; }
.blueText { color: #01ACFD; }
.skyblueText { color: #05D4DF; }
.purpleText { color: #5D58EF; }
.bgOrange { background-color: #FEA301; }
.bgYellowGreen { background-color: #95B226; }
.bgSkyBlue { background-color: #05D4DF; }
.bgBlack { background-color: #000000; }

body, header {
  width: 100%;
  max-width: 1440px;
  overflow-x: hidden;
}

/* nav section */
.navContainer {
  width: 100%;
  max-width: 1160px;
  height: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navMenu {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  gap: 34px;
}

.navMenu li {
  list-style: none;
}

.contact {
  width: 197px;
  height: 50px;
  border: none;
  border-radius: 12px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.navDiv-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navDiv-4 {
  display: none;
}

/* hero section */
.heroContainer {
  width: 100%;
  max-width: 1158px;
  height: auto;
  min-height: 575px;
  display: grid;
  grid-template-columns: 1fr 468px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.heroTitle {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
}

.heroSubtext {
  font-size: 17px;
  padding: 20px 0px;
  line-height: 1.5;
}

.enrollBtn {
  color: white;
  font-size: 20px;
  font-weight: 700;
  width: 197px;
  height: 50px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

.heroImage {
  width: 100%;
  max-width: 468px;
  height: auto;
  max-height: 575px;
  object-fit: contain;
}

/* Mobile Styles */
@media screen and (max-width: 576px) {
  .navContainer {
    padding: 15px;
  }

  .navDiv-2, .navDiv-3 {
    display: none;
  }

  .navDiv-4 {
    display: block;
  }

  .menuIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  .heroContainer {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    padding: 10px;
  }

  .heroTitle {
    font-size: 32px;
  }

  .heroSubtext {
    font-size: 16px;
    padding: 15px 0;
    br {
      display: none;
    }
  }

  .heroImage {
    max-width: 100%;
    order: -1;
  }
}



